@font-face {
    font-family: "BalsamiqSans";
    src: url("./fonts/BalsamiqSans-Regular.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'BalsamiqSans';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    background: url("./img/dollar.jpg");
    background-attachment: fixed;
    background-size: cover;
}

input {
    outline: none;
}

button:focus, :active {
    outline-style: none;
}

.add-form {
    margin: 20px auto;
    display: inline-flex;
    max-width: 1000px;
}

.description input {
    background: none;
    width: 590px;
    border: 2px solid white;
    height: 30px;
    margin-right: 5px;
    color: white;
}

.description input:focus {
    box-shadow: 0 0 5px 2px white;
    background: rgba(255, 255, 255, .2);
}

.inselect:focus {
    box-shadow: 0 0 5px 2px white;
    background: rgba(255, 255, 255, .2);
}

.innumber:focus {
    box-shadow: 0 0 5px 2px white;
    background: rgba(255, 255, 255, .2);
}

.summary-div {
    display: inline-flex;
    width: 1000px;
    justify-content: space-between;
    padding: 4px 5px;
}

.column {
    margin-right: 0;
    padding-right: 10px;
}

.column div h6 {
    border-bottom: 2px solid white;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.purchase-list-item {
    display: inline-flex;
    margin: 10px 0;
}

.purchase-list-item div {
    display: flex;
    margin-right: 40px;
    align-items: center
}

.item-date {
    width: 140px;
}

.item-description {
    width: 400px;
}

.item-collection {
    width: 150px;
}

.item-price {
    display: inline-flex;
    width: 60px;
    margin-right: 0;
}

.container {
    max-width: 1030px;
    margin: 20px auto;
}

.greyback {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.secondary {
    text-align: center;
}

.inselect {
    border: 2px solid white;
    border-radius: 0;
    margin-right: 5px;
    height: 30px;
    width: 172px;
    color: white;
    background: none;
}

.inselect option{
    color: black;
}

.innumber {
    background: none;
    border: 2px solid white;
    margin-right: 5px;
    height: 30px;
    width: 120px;
    color: white
}

.btn button {
    background: none;
    width: 100px;
    height: 30px;
    border: 2px solid white;
    color: white;
    transition: .4s;
}

.btn button:hover {
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
}

.btn {
    padding: 0;
}

.danger-btn {
    background: none;
    border: 0;
    color: red;
    font-weight: bold;
    font-size: 20px;
    opacity: .6;
}

.danger-btn:hover {
    opacity: 1;
    transition: 0.2s;
}

.some-list {
    height: 400px;
    overflow: auto;
    color: white
}

.collection-div {
    position: relative;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    height: 550px;
    z-index: 5;
    background-color: black;
    border: 8px solid gainsboro;
    box-shadow: 0 0 8px 3px white;
}

.close {
    position: absolute;
    display: block;
    right: 3px;
    top: 4px;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    opacity: 1;
    width: 30px;
    height: 30px;
    z-index: 7;
}

.close:hover{
    color: white;
}

#block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.center-div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    color: white;
}

.center-div button img {
    background: none;
    width: 30px;
    height: 30px;
}

.center-div button {
    border: 0;
    background: none;
    width: 30px;
    height: 30px;
}

.center-div button:hover {
    cursor: pointer;
}

.categories-div {
    position: relative;
    top: 50px;
}

.header {
    width: 150px;
}

.auto-div{
    display: flex;
    width: 700px;
    justify-content: space-between;
    overflow: auto;
}

.auto-div div{
    margin-right: 10px;
}

.collection-form{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    width: 500px;
    height: 45px;
    background: none;
    padding: 5px 10px;
}

.collection-form div{
    background: black;
}

.collection-form input{
    width: 250px;
    height: 30px;
    margin: 0;
}

.collection-form button{
    width: 120px;
    height: 30px;
    background: none;
    border: 2px solid white;
    color: white;
    transition: .4s;
}

.collection-form button:hover{
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
}

.but3 {
    width: calc(100% - 4px);
    height: 45px;
    color: white;
    background: transparent;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 5px solid;
    border-color: white;
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: 300% 100%;
    background-position: 0 0;
    box-shadow: 0 0 7px 1px white;
}

.but3:hover {
    background-image:
            linear-gradient(to right, rgba(200,200,200, .4), rgba(255,255,255,.4), rgba(125,125,125,.4));
    transition: .5s linear;
    background-position: 100% 100%;
    box-shadow: 0 0 10px 2px white;
    cursor: pointer;
}

.indiv.but3:active {
    top: 1px;
}

.add-form-div{
    height: 30px;
}

.add-form-div input{
    height: 26px;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: none;
    border: 2px solid white;
}

::-webkit-scrollbar-thumb{
    background-color: white;
}